.phototopo .labels {
	position: relative;
	display: block;
}
.phototopo .pt_label {
	position: absolute;
}

.pt_label.selected {
	border: 1px solid white;
	background: #3d80df;
	color: white;
}

/* draggable */
.phototopo.editable.route.selectedRoute.point  {
	cursor: -moz-grab;
	cursor: move;
}
/* dragging */
.phototopo.editable.dragging  {
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: move;
}

/* clickable */
.phototopo.route {
	cursor: pointer;
}

/* click on a new point */
.phototopo.editable.addmore.point {
	cursor: pointer;
}
/* click to create the first point */
.phototopo.editable.addfirst {
	cursor: n-resize;
}
/* click to add/insert more points */
.phototopo.editable.addmore  {
	/*	cursor: crosshair; looks crap in webkit */
	cursor: pointer;
}



.pt_label.pt_icon {
	width: 16px;
	height: 16px;
}

.pt_label.none { display: none; }
.contextMenu LI.none    A { border: none; background-image: url(images/.png); }

.pt_label.jumpoff { display: none; }
.contextMenu LI.jumpoff A { border: none; background-image: url(images/jumpoff.png); }

.pt_label.belay,        .contextMenu LI.belay        A { border: none; background-image: url(images/belay.png); }
.pt_label.belaysemi,    .contextMenu LI.belaysemi    A { border: none; background-image: url(images/belaysemi.png); }
.pt_label.belayhanging, .contextMenu LI.belayhanging A { border: none; background-image: url(images/belayhanging.png); }

.pt_label.bolt,     .contextMenu LI.bolt    A { border: none; background-image: url(images/bolt.png); }
.pt_label.draw,     .contextMenu LI.draw    A { border: none; background-image: url(images/clip.png); }



.pt_label.crux,     .contextMenu LI.crux    A { border: none; background-image: url(images/lightning.png); }
.pt_label.warning,  .contextMenu LI.warning A { border: none; background-image: url(images/error.png); }
.pt_label.anchor,   .contextMenu LI.anchor  A { border: none; background-image: url(images/anchor.png); }